doctype 5
html
  head
    title shootingStar
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width; initial-scale=1.0; user-scalable=no;")
    link(rel='stylesheet', href='/css/cssreset-min.css',charset="utf-8",media="all",type="text/css")
    link(rel='stylesheet', href='/css/style.css',charset="utf-8",media="all",type="text/css")
    script(src="/socket.io/socket.io.js")
    script(src="/js/shootingStar.js",type="text/javascript",charset="utf-8")
  body
    block content
